[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
google = "*"
djangorestframework = "*"
pypdf = "*"
google-api-core = "*"
"google.generativeai" = "*"

[dev-packages]

[requires]
python_version = "3.11"
